<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>STS-PI CONTROLLER</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/left"><img src="{{ url_for('static', filename='images/left.png') }}"></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/forward"><img src="{{ url_for('static', filename='images/forward.png') }}"></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/right"><img src="{{ url_for('static', filename='images/right.png') }}"></a>
      </div>
    </div>
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/clockwise"><img src="{{ url_for('static', filename='images/clockwise.png') }}"></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/back"><img src="{{ url_for('static', filename='images/back.png') }}"></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/anti-clockwise"><img src="{{ url_for('static', filename='images/anticlockwise.png') }}"></a>
      </div>
    </div>
    <div class="row">
      <div class="one-third column" style="margin-top: 10%">
      </div>
      <div class="one-third column" style="margin-top: 10%">
        <a class="control u-full-width" href="/stop"><img src="{{ url_for('static', filename='images/stop.png') }}"></a>
      </div>
      <div class="one-third column" style="margin-top: 10%">
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
